<mat-card>
  <mat-card-title>
    <h3>
      Add Friends
    </h3>
  </mat-card-title>
  <mat-card-content>
    <form class="center-flex" [formGroup]="friendForm" (ngSubmit)="onSubmit(friendForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input formControlName="age" matInput type="text" placeholder="Age" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input formControlName="weight" matInput type="text" placeholder="Weight" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Friends</mat-label>
        <mat-select formControlName="friends" type="text" placeholder="Friends" multiple>
          <mat-option *ngFor="let friend of friends" [value]="friend">{{ friend.name | titlecase }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button-primary" mat-button type="submit">Add Friend</button>
    </form>
  </mat-card-content>
</mat-card>
