mat-card {
    max-height: calc(100vh - 536px);
    overflow-y: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

section {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid rgba(49, 49, 49, 1);
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    margin: 0;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

button {
    margin-top: 8px;
    width: 50%;
}

#friends-box {
    border: 2px dashed black;
}