section {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid rgba(49, 49, 49, 1);
    border-radius: 4px;
}

h2 {
    margin: 0;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

button {
    margin-top: 8px;
    width: 33.3%;
}

#friends-box {
    border: 2px dashed black;
}