<mat-card>
    <mat-card-title>
        <h3>
          Friends List
        </h3>
    </mat-card-title>
    <section class="center-flex" *ngFor="let friend of friends">
        <div class="center-flex">
            <h2>{{ friend.name | titlecase }}</h2>
            <span>{{ "Age: " + friend.age + " years old"}}</span><span>{{"Weight: " + friend.weight + "lbs"}}</span>
            <p>
                {{ "Friends: " }}
                <span class="bubble" *ngFor="let associatedFriend of friend.friends">
                    {{ (associatedFriend.name | titlecase) }}
                </span>
            </p>
        </div>
        <!-- needs more work.. -->
<!--         <mat-select formControlName="friends" type="text" multiple>
          <mat-option *ngFor="let friend of friends" [value]="friend">{{ friend.name | titlecase }}</mat-option>
        </mat-select> -->
        <footer>
            <button mat-button class="button-primary" (click)="addAssociatedFriends()">Add More Friends</button>
            <button mat-button class="button-warning" (click)="deleteFriend(friend)">Delete</button>
        </footer>
    </section>
</mat-card>