// CSS Reset
html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgba(200, 200, 200, 1);
  font-size: 14px;
  color: rgba(49, 49, 49, 1);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Global Style Classes */
.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-primary {
  color: rgba(240, 240, 240, 1);
  background-color: rgba(80, 124, 255, 1);
  border: 2px solid rgba(80, 124, 255, 1) !important;

  &:hover {
    color: rgba(80, 124, 255, 1);
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(80, 124, 255, 1)
  }
}